/*--Æù--*/
@media(mix-width:767px) {
    body {
        background: #808080
    }
    .sideCon {
        display:none
    }
}

/*--pc--*/
@media(min-width:992px) {
    body {
        background: #ffd800
    }
}

