/*--Æù--*/
@media(min-wiidth:768px) {
    .sideCon {
        display:none
    }
}

/*--pc--*/
@media(mix-wiidth:769px) {
    body {
        background: #ffd800
    }
}
body {
    background: #ffd800
}

